<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track': 'reload' %>

		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header class="main">
			<%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
			<h1><%= @page_title || t('.title') %></h1>
		</header>
		<section class="content">
			<nav class="side_nav">

				<div id="cart" class="carts">

					<%= render_if @cart && @cart.line_items.any?, @cart %>
				</div>

				<ul>
					<li><a href="http://www...."><%= t('.home') %></a></li>
					<li><a href="http://www..../faq"><%= t('.questions') %></a></li>
					<li><a href="http://www..../news"><%= t('.news') %></a></li>
					<li><a href="http://www..../contact"><%= t('.contact') %></a></li>
				</ul>

				<% if session[:user_id] %>
					<ul>
						<li><%= link_to 'Orders', orders_path %></li>
						<li><%= link_to 'Products', products_path %></li>
						<li><%= link_to 'Users', users_path %></li>
					</ul>
					<%= button_to 'Logout', logout_path, method: :delete %>
				<% end %>
			</nav>
			
			<main class='<%= controller.controller_name %>'>
				<%= yield %>
			</main>
		</section>
	</body>
</html>